input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
    box-shadow: 0 0 0 30px var(--background) inset !important;
}

input[type="date"]::selection {
    background-color: var(--focus);
}


form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: clamp(30%, 200px, 1000px);
    gap: 10px;
}

form.grid {
    width: clamp(60%, 200px, 1000px);

    display: grid;
    grid-template-columns: 50% 50%;
}

form > .button {
    width: 100%;
}

input, select, textarea {
    z-index: 0;
    width: 100%;
    padding: 10px;
    color: var(--back-text);
    background-color: var(--background);
    border: 2px solid var(--back-text);
    border-radius: 2px;
    outline: none;
    /* background-color: transparent; */
    transform-origin: 50% 50% 0;
    transition-duration: 0.2s;
    caret-color: var(--focus);
}

input:is(:hover, :focus), select:is(:hover, :focus), textarea:is(:hover, :focus) {
    border-color: var(--focus);
}

input.error, select.error, textarea.error {
    border-color: var(--error);
    animation: error-input 0.2s linear 0s 1 forwards;
}


textarea {
    resize: none;
}



.input-info {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
}

.input-info > i {
    margin: auto;
    margin-left: 10px;
    width: 30px;
}

.input-info > label {
    z-index: 1;
    position: absolute;
    transform: translate(10px,-10px);
    background-color: var(--background);
    padding: 0 5px 0 5px;
    user-select: none;
    font-size: small;
    white-space: nowrap;
}

/* .input-info:is(:focus-within, :hover) > label {
    color: var(--focus);
} */


.input-error {
    /* position: relative; */
    color: var(--error-text);
    background-color: var(--error);
    padding: 10px;
    z-index: 2;
    border-radius: 2px;
    transition-duration: 0.2s;
    /* left: 100%; */
}

.input-error::before {
    content: '';
    background-color: var(--error);
    width: 10px;
    height: 10px;
    transform: translateY(-120%) rotateZ(45deg);
    position: absolute;
}


input[type="search"]::-webkit-search-cancel-button:hover {
    cursor: pointer;
}


@keyframes error-input {
    0% {
        transform: rotateZ(1deg);
    }
    
    33% {
        transform: rotateZ(-1deg);
    }

    100% {
        transform: none;
    }
}



@media only screen and (max-width: 575px){
    form {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        align-items: center;
    }

    .input-error {
        width: 100%;
    }
}