
@import url(style.css);

header {
    height: 50vh;
    /*padding: 15px;*/

    background-image: url(../img/header_landing.jpg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right 70%;
    
    color: var(--back-text);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

header > h1, header > h2 {
    z-index: 1;
    margin: 0 0 15px 15px;
    width: 50%;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, var(--background) 50%, transparent);
}



#nav-title {
    opacity: 0;
    transition-duration: 0.2s;
}

nav.is-sticky > #nav-title {
    opacity: 1;
}



main {
    padding: 10vh;

    background: linear-gradient(to bottom, var(--main), transparent 30%);
    
    color: var(--back-text);

    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
main > h1, main > h2 {
    text-align: center;
    color: var(--main-text);
}


#card-container {
    margin-top: 100px;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.card.info {
    width: 95%;
    height: clamp(300px, 200px, 500px);

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 100px;
}

.card.info > .img {
    flex: 2;
    /* background-color: var(--main); */
    background-image: url(../img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    clip-path: url(/eira/img/shape.svg);
}

.card.info > .info-container {
    height: fit-content;
    align-self: center;
    text-align: justify;

    vertical-align: middle 100%;
    
    flex: 3;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
.card.info > .info-container {
    font-size: larger;
}

#card-container > .card:nth-child(odd) {
    flex-direction: row-reverse;
}

#about_us {
    width: 90%;
}
#about_us > h2 {
    text-align: center;
    margin: 100px 0px;
}
#about_us > .container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

/* .card.person { */
    /* height: 300px; */
    /* background-color: aqua; */
/* } */
.card.person > .img {
    background-image: url(/eira/img/userphotos/default.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 1rem;
}
.card.person > .name {
    width: 100%;
    text-align: center;
}



@media only screen and (max-width: 575px){
    * {
        font-size: initial;
        text-align: initial;
    }

    header {
        background-size: cover;
        background-position: center;
    }

    header::before {
        background: rgba(255, 255, 255, 0.7);
    }
    
    header > h1, header > h2 {
        margin: 15px;
        width: initial;
    }

    main {
        padding: 10px;
    }

    /* #card-container > .card.info, #card-container > .card.info:nth-child(odd) {
        flex-direction: column;
    } */

    #card-container > .card.info > .img, #card-container > .card.info:nth-child(odd) > .img {
        display: none;
    }
}