
@import url(style.css);

#login-form {
    margin: 50px;
    display: grid;
    flex-direction: column;
    width: clamp(30%, 200px, 1000px);
    gap: 10px;
}

input {
    width: 100%;
    padding: 5px;
}

.input-info {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.input-info > i {
    margin: auto;
    margin-left: 10px;
    width: 30px;
}

.input-info > i:hover {
    cursor: pointer;
    color: var(--main);
}

label {
    position: absolute;
    transform: translate(10px,-13px);
    background-color: white;
    padding: 0 5px 0 5px;
}

.ast {
    color: red;
}