
@import url(style.css);
@import url(forms.css);

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--footer-size));
}



h1 {
    margin-top: 50px;
}



/* .msg {
    margin-top: 20px;
} */


.ast {
    color: var(--error);
}

input {
    position: relative;
}

#btn-show-pass, #btn-show-repass {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 10px;
    height: 100%;
    align-items: center;
}

a.underline {
    margin-bottom: 2rem;
}

#btn_change_pass {
    text-align: center;
    font-size: small;
}