/* nav ========================================================================================== */
nav {
    width: 100%;
    height: var(--nav-bar-size);
    top: -0.1px;
    position: sticky;
    z-index: 10;

    background-color: var(--main);

    color: var(--main-text);
    font-size: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
}

#nav-icons {
    margin-right: 10px;
    display: none;
}

#nav-title {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: var(--accent);
}

#nav-title:hover {
    cursor: pointer;
}

#nav-options {
    font-size: 18px;
    /* margin-right: 10px; */
    height: 100%;
    display: flex;
    align-items: stretch;
}

#nav-icon {
    background-image: url(/eira/img/system/icon_alter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    aspect-ratio: 300 / 79;
    /* width: 45px; */
}

#nav_username {
    line-height: var(--nav-bar-size);
    font-weight: bold;
    color: white;
    user-select: none;
}

#label-profile {
    margin-inline: 10px;
    display: flex;
    align-items: center;
}

#label-profile > .img {
    height: 45px;
    width: 45px;
    background-image: url(/eira/img/userphotos/default.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid var(--accent);
    border-radius: 50%;
    transition-duration: 0.2s;
}

#label-profile > .img:hover {
    border: 3px solid var(--focus);
    cursor: pointer;
}

/* nav > #icons > label:hover, #nav-menu > div:hover {
    color: var(--focus);
    cursor: pointer;
    transition-duration: 0.2s;
    text-shadow: 0 0 10px var(--focus);
} */



#btn_nav_menu, #btn_profile_menu {
    display: none;
}


/* #profile-menu ================================================================================ */
#btn_profile_menu:not(:checked) ~ #profile-menu {
    transform: scale(80%, 80%) translateY(-50px);
    opacity: 0;
    pointer-events: none;
}

#profile-menu {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    right: 20px;
    transition-duration: 0.5s;
    top: calc(100% + 10px);
    width: fit-content;
    min-width: 200px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--main-transparent);
    backdrop-filter: blur(3px);
    font-size: medium;
    font-weight: bold;
    transform-origin: 100% 50%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/* #nav_menu ==================================================================================== */
#btn_nav_menu:not(:checked) ~ #nav_menu {
    transform: scale(0, 100%);
    opacity: 0;
    pointer-events: none;
}

#nav_menu {
    width: clamp(30vw, 100px, 30vw);
    min-width: fit-content;
    height: 100vh;
    padding: 20px;
    top: 100%;
    right: 0;
    position: absolute;
    
    background-color: var(--main-transparent);
    backdrop-filter: blur(3px);

    color: var(--main-text);
    font-size: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform-origin: 100% 50%;
}


/* #menu ======================================================================================== */
#menu {
    position: fixed;
    top: 0;
    right: 0;
    color: var(--back-text);

    width: 30vw;
    height: 100vh;
    background-color: var(--main);
    background: linear-gradient(to bottom, var(--main) var(--nav-bar-size), var(--background) var(--nav-bar-size));

    box-shadow: var(--light-shadow);
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.20, 0.65, 0.15, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#btn_profile_menu:not(:checked) ~ #menu {
    transform: translateX(100%);
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

#menu > h1, #menu_back {
    margin-top: 20px;
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: bold;
    color: var(--accent);
    transition-delay: 0.2s;
    transition-duration: 0.4s;
}

#menu_back {
    position: absolute;
    right: 1em;
}
#menu_back:hover {
    cursor: pointer;
    color: var(--focus);
}

#btn_profile_menu:not(:checked) ~ #menu > h1 {
    transform: translateX(100%);
    opacity: 0;
}

#menu_img {
    position: relative;
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1); */
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    overflow: hidden;
    margin-bottom: 1rem;
}
#menu_img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#btn_profile_menu:not(:checked) ~ #menu > #menu_img {
    transform: scale(0.01, 0.01);
}
#menu_img > img {
    object-fit: cover;
    width: 100%;
}
#menu_img:hover {
    cursor: pointer;
}
#menu_img:hover > #menu_img_hover {
    opacity: 1;
}
#menu_img_hover {
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    aspect-ratio: 1;
    pointer-events: none;
    border-radius: 50%;
    color: white;
    font-size: initial;

    display: flex;
    align-items: center;
    justify-content: center;
}

#menu > .option {
    font-size: initial;
    width: 100%;
    padding: 10px;
    user-select: none;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
#menu > .option:hover {
    background-color: var(--grey-background);
    cursor: pointer;
}
#menu > .option > i {
    width: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#menu > hr {
    width: 100%;
}


/* .nav-button ================================================================================== */
.nav-button {

    color: var(--back-text);
    background-color: transparent;
    font-weight: bold;
    line-height: var(--nav-bar-size);
    vertical-align: middle;
    text-align: center;

    /* padding: 15px;
    padding-block: auto; */
    /* border: 2px solid var(--main); */
    padding-inline: 1rem;
    height: 100%;
    border: none;
    /* border-radius: 2px; */

    transform-origin: 50% 50% 0;
    transition-duration: 0.2s;

    outline: none;

    user-select: none;

    font-size: medium;
    font-weight: bold;
}
.nav-button.alter {
    color: var(--main-text);
}
.nav-button:hover {
    /* color: var(--focus); */
    background-color: var(--focus);
    cursor: pointer;
}


#dark_nav_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
}
#photo_drop_container {
    width: 80vw;
    height: 80vh;

    position: fixed;
    background-color: var(--background);
    top: 10vh;
    left: 10vw;
    padding: 1.5rem;
    transition-duration: 0.3s;
    z-index: 11;

    /* transform: translateY(100vh); */
    border-radius: 2px;
}
#photo_drop_container.on {
    transform: none;
}
#photo_drop_container.on ~ #dark_nav_background {
    opacity: 1;
    pointer-events: initial;
}

#photo_drop {
    width: 100%;
    height: 100%;
    border: 2px solid var(--grey-background);
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;
    /* background-color: var(--grey-background); */
}
#photo_drop.on {
    background-color: var(--grey-background);
}

#photo_drop > i {
    font-size: 8rem;
}
#photo_drop > p {
    font-size: 2rem;
}

#input_photo {
    display: none;
}

/* Profile ====================================================================================== */

#profile {
    position: fixed;
    background-color: var(--background);
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    z-index: 10;

    border-radius: 2px;
    padding: 2rem;
}
#profile > h1 {
    margin-bottom: 2rem;
}
#profile > .inputs {
    margin-bottom: 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    gap: 1rem;
}
#btn_dark_mode {
    display: none;
}
#label_dark_mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 50px;
    height: 25px;
    background-color: var(--main);
    border-radius: 12.5px;
}
#label_dark_mode > div {
    position: absolute;
    top: 2.5px;
    transform: translateX(2.5px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--accent);

    display: flex;
    align-items: center;
    justify-content: center;
}
#label_dark_mode > div > i {
    font-size: smaller;
    color: var(--main);
}
#label_dark_mode > div > i.fa-sun {
    display: block;
}
#label_dark_mode > div > i.fa-moon {
    display: none;
}
#btn_dark_mode:checked ~ #label_dark_mode > div {
    transform: translateX(27.5px);
    background-color: var(--main-text);
}
#btn_dark_mode:checked ~ #label_dark_mode > div > i.fa-sun {
    display: none;
}
#btn_dark_mode:checked ~ #label_dark_mode > div > i.fa-moon {
    display: block;
}



@media only screen and (max-width: 575px){
    #menu {
        width: 100vw;
    }
    #nav-options > a {
        display: none;
    }

    #nav_username {
        display: none;
    }

    #profile {
        overflow-y: auto;
    }
    #profile > .inputs {
        grid-template-columns: 1fr;
    }
    #btn_update_profile {
        width: 100%;
    }
 }