@import url(style.css);
@import url(forms.css);


:root {
    --side-panel-size: 20%;
    --side-panel-min-size: 200px;
    --side-panel-max-size: 1000px;
}


body {
    background-color: var(--grey-background);
    /* height: calc(100vh - 150px); */
    height: 100vh;
    margin-bottom: 0;
}

main {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: row;
}




#side_panel {
    position: relative;
    width: var(--side-panel-size);
    max-width: var(--side-panel-max-size);
    min-width: var(--side-panel-min-size);
    /* width: clamp(var(--side-panel-size), var(--side-panel-min-size), var(--side-panel-max-size)); */
    flex: 1;
    height: 100%;
    background-color: var(--background);
    box-shadow: var(--light-shadow);

    display: flex;
    flex-direction: column;

    z-index: 5;
    /* border-right: 2px solid var(--main); */
}

#side_panel > .option {
    width: 100%;
    padding: 0.6rem;
    user-select: none;

    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
}

#side_panel > .option:hover {
    background-color: var(--grey-background);
    cursor: pointer;
}

#side_panel > .option > i {
    width: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#side_panel > .option > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#side_panel > .option.selected {
    border-right: 5px solid var(--main);
}

#notification_amount {
    background-color: var(--main);
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    margin-left: auto;
}

.label_btn_show_hide {
    position: absolute;
    right: 0;
    bottom: 0;

    font-size: 20px;

    width: 1.5em;
    height: 1.5em;

    text-align: center;
}
.btn_show_hide.vertical + * > .label_btn_show_hide {
    right: unset;
    left: 0;
}
.label_btn_show_hide:hover {
    color: var(--focus);
    cursor: pointer;
}

.btn_show_hide {
    display: none;
}
.btn_show_hide:checked + * > .label_btn_show_hide {
    left: 100%;
    transform: rotateY(180deg);
}
.btn_show_hide:checked + * {
    transform: translateX(-100%);
}
.btn_show_hide.vertical:checked + * {
    transform: translateY(-100%);
}
.btn_show_hide:checked + * > *:not(.label_btn_show_hide) {
    opacity: 0;
    pointer-events: none;
}

.btn_show_hide:checked.vertical + * > .label_btn_show_hide {
    left: 0;
    top: 100%;
    transform: rotateX(180deg);
}

#hide_side_panel:checked ~ #side_panel {
    flex: 0;
    width: 0;
    min-width: 0;
}
/* #hide_side_panel:checked ~ #side_panel > .option {
    opacity: 0;
    pointer-events: none;
} */


#work_zone {
    flex: 4;
}


.row_list {
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.row_list > .card {
    border: 2px solid var(--main);
    border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--background);
}

.work_zone_list.spaced {
    gap: 2rem;
    padding-bottom: 2rem;
}


.card.notification {
    --main-color: var(--back-text);
}
.card.notification.error {
    --main-color: var(--error);
}
.card.notification.warning {
    --main-color: var(--warning);
}
.card.notification.success {
    --main-color: var(--success);
}

.card.notification {
    border: 2px solid var(--main-color);
    /* border-radius: 5px;
    padding: 0.5rem;
    background-color: var(--background); */
}

.card.notification > h3 {
    color: var(--main-color);
}

.card.notification > p {
    color: var(--back-text);
}

.card.notification > p > a {
    color: var(--main-color);
    text-decoration: underline;
}

.card.notification > p > span {
    color: var(--main-color);
    /* font-weight: bold; */
}

.work_zone_list.product_list {
    --filters-size: 85px;
    margin-top: var(--filters-size);
    height: calc(100% - var(--filters-size));
}
.product_list {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}
.product_list.discrete_scrollbar {
    padding: 1rem 0.8rem;
}

.card.product {
    position: relative;

    width: 100%;
    height: 200px;
    background-color: var(--background);
    box-shadow: var(--light-shadow);
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card.product:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--grey-background);
    z-index: 2;
}

.card.product > .name {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card.product > img {
    max-width: 90%;
    height: 100px;
    margin-bottom: 20px;
}

.card.product > .amount_values, .card.product > .name {
    user-select: none;
    z-index: 3;
    cursor: pointer;
}



.dark_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
}
.dark_background.on {
    opacity: 1;
    pointer-events: initial;
}


#product_details {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    z-index: 11;
    background-color: var(--background);

    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#product_details.on {
    transform: none;
}

#product_details > .info {
    flex: 3;

    display: flex;
    gap: 1rem;
}
#product_details > .info > .img {
    height: 100%;
    aspect-ratio: 1;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#product_details > .info > .text_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content min-content min-content;
    flex: 1;
    gap: 1rem;
}

#product_details > .desc {
    flex: 2;

    display: flex;
    gap: 1rem;
    overflow: hidden;
}
#product_details > .desc > .input-info {
    flex: 2;
}
#product_details__desc {
    padding: 10px calc(10px - 0.2rem);
}
#product_details__lotes_container {
    flex: 3;
    background-color: var(--grey-background);
    box-shadow: var(--inner-light-shadow);
    padding: 0.5rem 0.3rem;

    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: repeat(2, max-content);
    gap: 0.5rem ;

    overflow: auto;
}
#product_details__lotes_container > .cell {
    background-color: var(--background);
    box-shadow: var(--light-shadow);
    padding: 0.25rem;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#product_details > .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
}


#stat_list {
    display: flex;
    justify-content: center;
}


.card > input:disabled {
    cursor: not-allowed;
    background-color: transparent !important;
}


.card.transfer, .card.request {
    position: relative;
    word-break: break-word;
}
.transfer_detail {
    margin: 0.5rem;
}
.card.transfer > .username, .card.request > .username {
    position: absolute;
    right: 1rem;
    top: calc(100% + 0.3rem);
    font-weight: normal;
}
.card.transfer > .create_pdf {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.card.transfer > .create_pdf:hover {
    color: var(--focus);
    cursor: pointer;
}
.card.request > .patient_data, .card.request > .request_state {
    font-weight: bold;
    font-size: small;
    margin: 0.5rem 0;
}
.card.request > .patient_data > span, .card.request > .request_state > span {
    font-weight: normal;
}
.card.request > .details {
    font-size: small;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

.card.request > .btn_delete {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

.card.lote {
    position: relative;
}
.card.lote > .product {
    margin: 0.5rem;
}
.card.lote > .btn_delete {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}


.new_container {
    position: fixed;
    background-color: var(--background);
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    z-index: 10;

    border-radius: 2px;
    padding: 2rem;

    display: flex;
    gap: 2rem;
}
.new_container > .details {
    flex: 1;
    width: 0px;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.new_container > .details > * {
    width: 100%;
}
.new_container > .details > .product_list {
    position: relative;
    height: 100%;
    background-color: var(--grey-background);
    box-shadow: var(--inner-light-shadow);
    padding: 0.5rem 0.3rem;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.new_container > .details > .product_list.on {
    background-color: var(--focus);
}
.new_container > .details > .product_list > p {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    text-align: center;
    margin: 20%;
    user-select: none;
    transition-duration: 0.1s;

    opacity: 0;
}
.new_container > .details > .product_list > p.on {
    opacity: 1;
}
.btn_clean_list {
    background-color: var(--background);
    box-shadow: var(--light-shadow);
    padding: 0.4rem;
    text-align: center;
    font-size: small;
    z-index: 5;

    transform: translateY(-0.8rem);
}
.new_list__product {
    position: relative;
    padding: 0.4rem 0.8rem;

    background-color: var(--background);
    box-shadow: var(--light-shadow);

    display: flex;
    align-items: center;
}
.new_list__product > p.product {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.new_list__product > input.product {
    display: none;
    margin-right: 0.8rem;
}
.new_list__product > input {
    border: none;
    background-color: var(--grey-background);
    box-shadow: var(--inner-light-shadow);
}
.new_list__product > input[type="number"] {
    width: 8em;
    /* border: none;
    background-color: var(--grey-background); */
    padding-right: 0;
    /* padding: 0.4rem 0 0.4rem 0.4rem; */
    /* box-shadow: var(--inner-light-shadow); */
}
.new_list__product > .btn_delete {
    padding-left: 0.8rem;
}
.btn_delete:hover {
    color: var(--error);
    cursor: pointer;
}
.btn_delete.disabled {
    color: var(--grey-background);
    pointer-events: none;
    cursor: initial;
}
.new_container > .details > .input-info.new_add_product_card {
    display: none;
}
.new_container > .new_products {
    position: relative;
    flex: 1;
    background-color: var(--grey-background);
    box-shadow: var(--inner-light-shadow);
    
    display: flex;
    flex-direction: column;
}
.search {
    --icon-size: calc(1em + 10px);
    padding-left: calc(var(--icon-size) + 10px);
    background-image: url(/eira/img/system/magnifying-glass-solid.svg);
    background-size: var(--icon-size);
    background-repeat: no-repeat;
    background-position: 5px center;
    z-index: 11;
}
.new_container > .new_products > .product_list {
    padding: 1rem 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.new_container > .new_products > .product_list > .card.product {
    font-size: small;
    /* height: 150px; */
}
.new_container > .new_products > .product_list > .card.product > img {
    height: 75px;
}


.card.new_list__lote {
    position: relative;
    padding: 0.4rem 2rem 0.4rem 0.4rem;
    background-color: var(--background);
    box-shadow: var(--light-shadow);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 0.8rem;
}
.card.new_list__lote > input, .card.new_list__lote > select {
    border: none;
    background-color: var(--grey-background);
    box-shadow: var(--inner-light-shadow);
}
.card.new_list__lote > input[type="number"] {
    padding: 0.4rem 0 0.4rem 10px;
}
.card.new_list__lote > i.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card.new_list__lote > i.fa-xmark:hover {
    color: var(--error);
    cursor: pointer;
}


#unverifiedUser_list {
    position: relative;
}
#unverifiedUser_list > p {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    text-align: center;
    margin: 20%;
    user-select: none;
    transition-duration: 0.1s;

    opacity: 0;
}
#unverifiedUser_list > p.on {
    opacity: 1;
}
.card.unverifiedUser {
    position: relative;
}
.card.unverifiedUser > .date {
    font-size: small;
}
.card.unverifiedUser > .options {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    display: flex;
    gap: 0.5rem;
}
.card.unverifiedUser > .options > .button {
    padding: 0.75rem;
}
.card.unverifiedUser > .options > .button > i {
    display: none;
}

#new_request_details > .patient_data {
    display: flex;
    gap: 0.5rem;
}


.filters {
    position: fixed;
    width: calc(100vw - var(--side-panel-size));
    max-width: calc(100vw - var(--side-panel-min-size));
    min-width: calc(100vw - var(--side-panel-max-size));
    top: var(--nav-bar-size);
    left: clamp(var(--side-panel-size), var(--side-panel-min-size), var(--side-panel-max-size));
    height: var(--filters-size);
    background-color: var(--background);
    z-index: 4;
    padding: 0.5rem;
    box-shadow: var(--light-shadow);
}
#hide_side_panel:checked ~ * .filters {
    max-width: 100%;
    width: 100%;
    left: 0;
}
*:has(> .btn_show_hide:checked) {
    --filters-size: 0px;
}




.button_plus {
    position: fixed;
    right: 2rem;
    bottom: 2rem;

    font-size: 35px;
    font-weight: bolder;

    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;

    background-color: var(--main);
    color: var(--main-text);

    box-shadow: var(--light-shadow);

    z-index: 9;
}
.button_plus:hover {
    background-color: var(--focus);
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .new_container > .details > .input-info.new_add_product_card {
        display: initial;
    }
    .new_container > .new_products {
        display: none;
    }
    .new_container > .details > .product_list > p {
        display: none;
    }
    

    .card.unverifiedUser > .options > .button {
        padding: 0;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
    }
    .card.unverifiedUser > .options > .button > i {
        display: initial;
    }
    .card.unverifiedUser > .options > .button > p {
        display: none;
    }
}

@media only screen and (max-width: 575px){
    :root {
        --side-panel-min-size: 120px;
    }

    .work_zone_list.spaced {
        gap: 3rem;
        padding-bottom: 3rem;
    }

    .work_zone_list.product_list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    #product_details > .info {
        flex: 0;
    }
    #product_details > .info > div.img {
        display: none;
    }
    #product_details > .desc {
        flex-direction: column-reverse;
    }
    /* #product_details > input[type="button"] {
        width: 100%;
    } */
    #product_details > .buttons {
        flex-direction: column;
    }
    #product_details > .buttons > * {
        font-size: small;
        padding: 0.5rem;
        width: 100%;
    }
}