@import url(style.css);
@import url(forms.css);

h1 {
    margin-top: 50px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--footer-size));
}

#btn_dark_mode {
    display: none;
}
#label_dark_mode {
    position: absolute;
    top: calc(var(--nav-bar-size) + 1rem);
    right: 1rem;
    width: 50px;
    height: 25px;
    background-color: var(--main);
    border-radius: 12.5px;
}
#label_dark_mode > div {
    position: absolute;
    top: 2.5px;
    transform: translateX(2.5px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--accent);

    display: flex;
    align-items: center;
    justify-content: center;
}
#label_dark_mode > div > i {
    font-size: smaller;
    color: var(--main);
}
#label_dark_mode > div > i.fa-sun {
    display: block;
}
#label_dark_mode > div > i.fa-moon {
    display: none;
}
#btn_dark_mode:checked ~ #label_dark_mode > div {
    transform: translateX(27.5px);
    background-color: var(--main-text);
}
#btn_dark_mode:checked ~ #label_dark_mode > div > i.fa-sun {
    display: none;
}
#btn_dark_mode:checked ~ #label_dark_mode > div > i.fa-moon {
    display: block;
}