/*
--light-cyan: #d6fffbff;
--celeste: #adfff5ff;
--celeste-2: #99fff3ff;
--turquoise-blue: #1fffe5ff;
--turquoise-blue-2: #00f5d8ff;
--keppel: #00c8afff;
--persian-green: #00a390ff;
--pine-green: #007a6cff;
--blue-green-color-wheel: #005248ff;

--sizzling-red: #ff334eff;
--mustard: #ffd559ff;
--spring-green: #41ff7dff;
*/


@import url(nav.css);

:root {
    --main: #00c8afff;
    --main-transparent: rgb(0, 200, 175, 0.7);
    --focus: #1fffe5ff;
    --background: white;
    --grey-background: rgba(60,64,67,0.039);
    --main-text: #005248ff;
    --back-text: #005248ff;
    --accent: white;

    --error: #ff334eff;
    --warning: #f7c93c;
    --success: #28d75f;

    --error-focus: #fe566d;
    --success-focus: #4ee97f;

    --error-text: white;
    --warning-text: #005248ff;
    --success-text: #005248ff;

    --light-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    --inner-light-shadow: inset var(--light-shadow);


    --nav-bar-size: 70px;
    --footer-size: 150px;
    /* --main: rgb(105, 105, 255); */
    /* --main-transparent: rgba(105, 105, 255, 0.7);
    --focus: rgb(185, 185, 255);
    --background: rgb(215, 215, 255);
    --main-text: white;
    --back-text: rgb(25, 25, 175); */
}


::selection {
    background-color: var(--focus);
    color: var(--back-text);
}



* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
}
*::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: var(--light-shadow);
}


html {
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

body {
    color: var(--back-text);
    background-color: var(--background);
    margin-bottom: var(--footer-size);
}



a {
    text-decoration: none;
}

a:visited, a:not(:visited) {
    color: unset;
}

a.button {
    color: var(--main-text);
}

a.button.alter {
    color: var(--back-text);
}

a.button2 {
    color: var(--main);
    border: 2px solid var(--main);
}

a.button2.alter {
    color: var(--background);
    border: 2px solid var(--back-text);
}



#splash {
    pointer-events: initial;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    background-image: url(/eira/img/system/icon_alter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    animation: splash-anim 1s linear 2s 1 normal forwards;
    text-align: center;
}


.button {
    width: fit-content;

    color: white;
    background-color: var(--main);
    font-weight: bold;

    padding: 15px;
    /* border: 2px solid var(--main); */
    border: none;
    border-radius: 2px;

    transform-origin: 50% 50% 0;
    transition-duration: 0.2s;

    outline: none;

    user-select: none;

    font-size: medium;
}


.button.alter {
    color: var(--back-text);
    background-color: var(--background);
    /* border: 2px solid var(--main-text); */
}


.button:hover {
    /* color: var(--main); */
    background-color: var(--focus);
    /* border: 2px solid var(--focus); */

    /* box-shadow: 0 0 10px var(--focus); */

    /* transform: scale(1.2, 1.2); */
    
    cursor: pointer;
}
.button.btn_yes {
    background-color: var(--success);
}
.button.btn_no {
    background-color: var(--error);
}
.button.btn_yes:hover {
    background-color: var(--success-focus);
}
.button.btn_no:hover {
    background-color: var(--error-focus);
}
.button:disabled {
    background-color: var(--grey-background);
    color: grey;
    cursor: not-allowed;
}


.button2 {
    width: fit-content;

    color: var(--main);
    background-color: transparent;
    /* border: 2px solid var(--main); */
    font-weight: bold;

    padding: 15px;
    border: none;
    border-radius: 2px;

    transform-origin: 50% 50% 0;
    transition-duration: 0.2s;

    outline: none;

    user-select: none;

    font-size: medium;
}

.button2.alter {
    color: var(--main-text);
    /* border: 2px solid var(--main-text); */
}

.button2:hover {
    color: var(--main-text);
    background-color: var(--main);
    /* border: 2px solid var(--main); */

    /* box-shadow: 0 0 10px var(--focus); */

    /* transform: scale(1.2, 1.2); */
    
    cursor: pointer;
}

.button2.alter:hover {
    color: var(--main);
    background-color: var(--main-text);
    /* border: 2px solid var(--main-text); */

    /* box-shadow: 0 0 10px var(--focus); */

    /* transform: scale(1.2, 1.2); */
    
    cursor: pointer;
}


.text-button.alter {
    color: var(--main-text);
}

.text-button:hover {
    color: var(--focus);
    cursor: pointer;
    transition-duration: 0.2s;
    /* text-shadow: 0 0 10px var(--focus); */
}



.error {
    color: var(--error);
}
.warning {
    color: var(--warning);
}
.success {
    color: var(--success);
}


.msg {
    width: fit-content;
    padding: 20px;
    margin: 15px;
    z-index: 2;
    border-radius: 2px;
}

.msg.error {
    color: var(--error-text);
    background-color: var(--error);
}

.msg.success {
    color: var(--success-text);
    background-color: var(--success);
}


.hidden {
    display: none !important;
}

.underline {
    text-decoration: underline 2px;
}
.underline_thin {
    text-decoration: underline 1px;
}

.hline {
    width: 100%;
    height: 2px;
    background-color: var(--main);
}

.hline.alter {
    background-color: var(--main-text);
}

.vline {
    width: 2px;
    height: 100%;
    background-color: var(--main);
}

.vline.alter {
    background-color: var(--main-text);
}



#loading_screen {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 16;
    width: 100vw;
    height: 100vh;
}
.loading_screen {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
}
.loading_screen.on {
    opacity: 1;
	pointer-events: all;
}
.loading_screen::after {
    content: "";
    width: 6rem;
    height: 6rem;
    border: 0.5rem solid var(--main);
    border-radius: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 50%, 50% 100%, 0% 100%);
    animation: loading_circle 1.5s linear 0s infinite;
}


.popup {
    transform: translateY(150vh);
    transition-duration: 0.3s;
}
.popup.on {
    transform: none;
}


.btn_quit {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: medium;

    display: flex;
}
.btn_quit:hover {
    color: var(--error);
    cursor: pointer;
}
.btn_quit::before {
    content: '\f00d';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/* Reducirle 0.2rem el padding lateral */
.discrete_scrollbar {
    scrollbar-gutter: stable both-edges;
}
.discrete_scrollbar::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}
.discrete_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: var(--light-shadow);
}
/* .discrete_scrollbar_wide {
    scrollbar-gutter: stable both-edges;
} */


#super_popup {
    position: fixed;

    left: 50%;
    top: 50%;
    max-width: 40vw;
    border-radius: 2px;

    padding: 2rem;
    background-color: var(--background);

    z-index: 20;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(-50%, -50%) scale(0.1%, 0.1%);
}
#super_popup.on {
    transform: translate(-50%, -50%);
}
#super_popup.has_options {
    padding-bottom: 0.5rem;
}
#super_popup > h3 {
    height: 2em;
}
#super_popup > p {
    width: 100%;
    word-wrap: break-word;
}
#super_popup > .options {
    margin-top: 1.5rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}
#super_popup > .options > * {
    flex: 1;
    text-align: center;
}
/* #super_popup > .options > .btn2 {
    background-color: var(--error);
}
#super_popup > .options > .btn2:hover {
    background-color: var(--focus);
} */
#super_popup_dark_background {
    z-index: 19;
}
.dark_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
}
.dark_background.on {
    opacity: 1;
    pointer-events: initial;
}


.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}



footer {
    /* margin-top: 100px; */
    height: 150px;
    width: 100vw;
    position: absolute;
    bottom: 0;

    background-color: var(--main);
    color: var(--main-text);

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

footer > .img {
    height: 50%;
    aspect-ratio: 1;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


@keyframes splash-anim {
    0%{
        opacity: 1;
        pointer-events: initial;
    }

    100%{
        opacity: 0;
        pointer-events: none;
    }
}



@keyframes loading_circle {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}



html.dark {
    --background: #005248ff;
    --grey-background: #00c8af80;
    --back-text: #00c8afff;
    background-color: black;
}
html.dark hr {
    border-color: var(--main);
}

@media only screen and (max-width: 800px) {
    #super_popup {    
        max-width: 80vw;
    }
}

@media only screen and (max-width: 575px){
    :root {
        font-size: 12px;
    }

    * {
        scrollbar-gutter: stable both-edges;
    }
    *::-webkit-scrollbar {
        width: 0.2rem;
        height: 0.2rem;
    }
    *::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: var(--light-shadow);
    }
}
