@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap');
/* tipografias*/
.roboto{
    font-family: 'Verdana','Roboto', sans-serif;
}
.notosans{
    font-family: 'Verdana','Noto Sans', sans-serif;
}
.fw100{
    font-weight: 100;
}
.fw200{
    font-weight: 200;
}
.fw400{
    font-weight: 400;
}
.fw700{
    font-weight: 700;
}
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: unset;
}
body {
    background-color: black;
    height: 100vh;
}

.tarjeta {
    display: flex;
    flex-direction: row;
    height: 60vh;
    /*viewport HEIGHT*/
    width: 70%;
    background-color: violet;
    border-radius: 20px;
    overflow: hidden;/*Oculta lo que se rebalsa;*/
    box-shadow: 5px 5px 5px 5px rgba(255,255,255,0.5);
    /*row fila - column*/
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto,
.imagen {
    flex: 1;
    /*modulos proporcionales*/
    /*ancho del contenedor*/
    background-color:rgb(23,19,55);
    /*----propiedad temporal----*/
    font-size: 20pt;
    color: black;
}
.imagen {
    background-image: url("../img/bg-violet.jpg");
    background-size:cover; 
    /*background-repeat: repeat-x, repeat-y, no-repeat*/
}
.datos{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /*---temporal----*/
    background-color: blueviolet;
}
.fila{
    flex: 1;
    background-color: rgb(23,19,55);
}
.fila:nth-child(2){
    font-size: 10pt;
    color: grey;
}
.fila:last-child{ /*:nth-child(2) Para la segunda vez que se repita la fila (para la segunda fila)*/
    /*tambien existe :first-child,:last-child, 
    */
    display: flex;
    flex-direction: row;
}
.numeros{
    flex:1;
    height: 100%;
    flex-direction: column;
}
p{
    color:white;
}
span{
    color:darkviolet;
}
h2{
    font-size: 20pt;
    color: white;
}
h5{
    font-size: 10pt;
    color: grey;
}
/*Responsive*/
@media (max-width: 480px) {
    .tarjeta {
        flex-direction: column-reverse;
    }
}