<head><style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
        @import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Merriweather&family=Poppins:wght@300;400;700&family=Yeseva+One&display=swap");
        body {
            width: 100%;
            height: 100%;
        }
        .fl {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .h100 {
            height: 100px !important;
        }

        .fdc {
            flex-direction: column;
            justify-content: space-around;
        }

        .lef {
            align-items: flex-start !important;
        }

        .eira {
            color: #005248ff !important
        }

        .pop {
            font-family: "Poppins", sans-serif;
        }

        .tabla th,
        .tabla td {
            text-align: center;
        }

        .pdr20 {
            padding-right: 20px !important;
        }
</style>
</head><body>
    <div class="row"><br></div>
    <div class="container white">
        <div class="row h100 center-align fl eira">
            <div class="col m2 s2 center-align brand-logo left fl h100">
                <img src="https://escuelarobertoarlt.com.ar/eira/img/system/icon_coin.svg" height="80px" alt="" srcset="">
            </div>
            <div class="col m9 s9 left-align fl fdc lh1 lef">
                <span class="lh1"><b class="eira">Hospital De Trauma Federico Abete</b></span>
                <span class="lh1">123, Miraflores, Pablo Nogués, Buenos Aires</span>
                <span class="lh1">01144699600</span>
            </div>
            <div class="col m2 s2 right-align pdr20">
                <H6 style="text-transform: uppercase;">sector</H6>
                <H6 style="text-transform: uppercase;">FARmaCIA</H6>
            </div>
        </div>
        <div class="divider"></div>
        <!------------------ CONTENIDO DEL INFORME ------------------->
        <div class="row  eira">
            <div class="col s12 center">
                <h4 class="pop">TICKET DE TRASPASO N.225</h4>
            </div>
            <div class="row"></div>
            <div class="col s12">
                <div class="container tabla">
                    <table>
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Lote</th>
                                <th>Cantidad</th>
                                <th>Fecha de caducidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{CODIGO_PRODUCTO}}</th>
                                <th>{{NOMBRE_PRODUCTO}}</th>
                                <th>{{LOTE}}</th>
                                <th>{{CANTIDAD_PRODUCTO}}</th>
                                <th>{{FECHA_CADUCIDAD}}</th>
                            </tr>
                            <tr>
                                <td>M712012</td>
                                <td>Alcohol</td>
                                <td>L908768</td>
                                <td>120.00</td>
                                <td>12-10-2022</td>
                            </tr>
                            <tr>
                                <th>{{CODIGO_PRODUCTO}}</th>
                                <th>{{NOMBRE_PRODUCTO}}</th>
                                <th>{{LOTE}}</th>
                                <th>{{CANTIDAD_PRODUCTO}}</th>
                                <th>{{FECHA_CADUCIDAD}}</th>
                            </tr>
                            <tr>
                                <th>{{CODIGO_PRODUCTO}}</th>
                                <th>{{NOMBRE_PRODUCTO}}</th>
                                <th>{{LOTE}}</th>
                                <th>{{CANTIDAD_PRODUCTO}}</th>
                                <th>{{FECHA_CADUCIDAD}}</th>
                            </tr>
                            <tr>
                                <th>{{CODIGO_PRODUCTO}}</th>
                                <th>{{NOMBRE_PRODUCTO}}</th>
                                <th>{{LOTE}}</th>
                                <th>{{CANTIDAD_PRODUCTO}}</th>
                                <th>{{FECHA_CADUCIDAD}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
        <!------------------ F I N -----C O N T E N I D O -- D E L INFORME ------------------->
    </div>
</body></html>