<html><head>
    <style>
        .title {
            width: 100vw;
            height: 60px;
            margin: auto;
            text-align: center;
        }
        .desc {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .headers {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .m-left{
            margin-left: 10%;
        }
        .m-right{
            margin-right: 10%;
        }

        .container{
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        table {
            width: 80%;
            border-collapse: unset;
        }

        .container table tr{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;
            text-align: center;
        }

        .tabla th,
        .tabla td {
            text-align: center;
        }
    </style>
</head><body>
    <h1 class="title">ORDEN DE EGRESO N.{{NUMERO_EGRESO}}</h1>
    <div class="desc">
        <div class="headers">
            <h3 class="m-left">Sector {{SECTOR}}</h3>
            <h3>Farmaceutico {{FARMACEUTICO}}</h3>
            <h3 class="m-right">Enfermero {{ENFERMERO}}</h3>
        </div>
        <div class="container tabla">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Lote</th>
                        <th>Cantidad</th>
                        <th>Fecha de caducidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>M712012</td>
                        <td>Alcohol</td>
                        <td>L908768</td>
                        <td>120.00</td>
                        <td>12-10-2022</td>
                    </tr>
                    <tr>
                        <th>{{CODIGO_PRODUCTO}}</th>
                        <th>{{NOMBRE_PRODUCTO}}</th>
                        <th>{{LOTE}}</th>
                        <th>{{CANTIDAD_PRODUCTO}}</th>
                        <th>{{FECHA_CADUCIDAD}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
</body></html>