@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&family=Merriweather&family=Poppins:wght@300;400;700&family=Yeseva+One&display=swap");

    .fl {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .h100 {
        height: 100px !important;
    }

    .fdc {
        flex-direction: column;
        justify-content: space-around;
    }

    .lef {
        align-items: flex-start !important;
    }

    .eira {
        color: #005248ff!important
    }

    .pop {
        font-family: "Poppins", sans-serif;
    }

    .tabla th, .tabla td{
        text-align: center;
    }

    .futer{
        position: absolute!important;
        bottom: 0!important;
    }
    .pdr20{
        padding-right: 20px!important;
    }
