<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Form</title>
</head>
<body>
	REGISTER
	<form method="POST" action="index.php">
		<input type="text" name="firstName" placeholder="nombre">
		<input type="text" name="lastName" placeholder="apellido">
		<input type="email" name="email" placeholder="email">
		<input type="password" name="pass" placeholder="pass">
		<input type="password" name="repass" placeholder="repass">
		<input type="hidden" name="action" value="register">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>LOGIN
	<form method="POST" action="api_user.php">
		<input type="email" name="email" placeholder="email">
		<input type="password" name="pass" placeholder="pass">
		<input type="hidden" name="action" value="login">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>PROFILE
	<form method="POST" action="api_user.php">
		<input type="email" name="email" placeholder="email">
		<input type="hidden" name="action" value="profile">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>TRAER DATOS POR EMAIL
	<form method="GET" action="api_user.php">
		<input type="email" name="email" placeholder="email">
		<input type="hidden" name="action" value="userdata">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>TRAER DATOS POR TOKEN
	<form method="GET" action="api_user.php">
		<input type="text" name="requesterToken" placeholder="requester">
		<input type="text" name="userToken" placeholder="user">
		<input type="hidden" name="action" value="userdata">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>PUT
	<form method="POST" action="api_user.php">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="_token" value = "{{csrf_token()}}"> <!-- Genera un token para proteger un formulario (Me falta aprenderlo papus)--> 
		<input type="text" name="userID" placeholder="id">
		<input type="hidden" name="action" value="profile">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>DELETE
	<form method="POST" action="api_user.php">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value = "{{csrf_token()}}"> <!-- Genera un token para proteger un formulario (Me falta aprenderlo papus)--> 
		<input type="text" name="userID" placeholder="id">
		<input type="hidden" name="action" value="profile">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>TOKEN
	<form method="GET" action="api_user.php">
		<input type="email" name="email" placeholder="email">
		<input type="hidden" name="action" value="token">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>INSERTAR SUPPLIER
		<form method="POST" action="api_supplier.php">
		<input type="hidden" name="action" value="insertSupplier">
		<input type="text" name="supplierName" placeholder="supplierName">
		<input type="text" name="contactName" placeholder="contactName">
		<input type="text" name="addressStreet" placeholder="addressStreet">
		<input type="text" name="addressNumber" placeholder="addressNumber">
		<input type="text" name="cityID" placeholder="cityID">
		<input type="text" name="postalCode" placeholder="postalCode">
		<input type="text" name="phoneNumber" placeholder="phoneNumber">
		
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>BUSCAR SUPPLIER POR ID
		<form method="GET" action="api_supplier.php">
		<input type="hidden" name="action" value="getSupplierById">
		<input type="text" name="supplierID" placeholder="supplierID">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>INSERTAR CIUDAD
		<form method="POST" action="api_city.php">
		<input type="hidden" name="action" value="createCity">
		<input type="text" name="name" placeholder="name">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>api_subcategory
	<form method="POST" action="api_subcategory.php">
		<input type="text" name="categoryID" placeholder="categoryID">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="description" placeholder="description">
		<input type="hidden" name="action" value="insertSubcategory">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>insertar categoria
	<form method="POST" action="api_category.php">
		<input type="hidden" name="action" value="insertCategory">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="description" placeholder="description">
		<input type="submit" value="Aceptar" >
	</form>
	<br><br>insertar sector
	<form method="POST" action="api_sector.php">
		<input type="hidden" name="action" value="createSector">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="description" placeholder="description">
		<input type="submit" value="Aceptar" >
	</form>
	<script>
		async function loginVerification(sendedData) {
			let frm = new FormData()

			for (key in sendedData) {
				frm.append(key, sendedData[key])
			}

			try {
				const response = await fetch('https://escuelarobertoarlt.com.ar/eira/api/api_order.php', {
					method: "POST",
					body: frm
				})

				const data = await response.json()

				return data
			} catch (error) {
				console.log(error)
			}
		
		}
	</script>
</body>
</html>